.default-color {
    color: #cbc798;
}
.red-us {
    color: #970d0d !important;
}
.white {
    color: white;
}
.bg-default-color{
    background-color: #cbc798;
}
.black{
    color: #000;
}
.bg-archive{
    background-color: #171717;
}
.box-shadow{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}